apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: rabbitmq-lib
  namespace: rabbitmq-platform
  labels:
    app.kubernetes.io/part-of: rabbitmq-platform
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 5Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: rabbitmq-logs
  namespace: rabbitmq-platform
  labels:
    app.kubernetes.io/part-of: rabbitmq-platform
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 2Gi
