apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: dapr-scheduler-data
  namespace: dapr-platform
  labels:
    app.kubernetes.io/part-of: dapr-platform
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 2Gi
